* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #464646;
}

a {
  text-decoration: none;
  color: #464646;
}

.wrapper {
  width: 90%;
  margin: auto;
}

.top-bar {
  padding: 15px 20px;
  background-color: #fff;
  display: block;
}

.logo {
  width: 50%;
  float: left;
}

.logo img {
  max-width: 230px;
  margin-top: 5px;
}

.profile-icon {
  float: right;
}

.profile-icon img {
  width: 25px;
  height: auto;
  margin-top: 5px;
}

.search-bar {
  text-align: center;
}

.search-bar input {
  margin: 30px 0;
  border: none;
  background-color: #DADEF4;
  padding: 15px 0;
  font-size: 18px;
  border-radius: 50px;
  width: 100%;
  text-align: center;
  color: #5979C4;
}

::placeholder {
  color: #5979C4;
}

.swipe-section {
  margin-bottom: 50px;
}

.swipe-container {
  overflow: scroll;
  white-space: nowrap;
}

.swipe-container-warapper {
  margin-right: 8px;
  display: inline-block;
  vertical-align: top;
}

.swipe-item {
  max-width: 140px;
}

.box {
  border-radius: 15px;
  width: 140px;
  height: 130px;
  background-color: #DADEF4;
  background-size: cover;
}

.news-1 {
  background-image: url("../images/news-1.jpeg");
}

.box-headline {
  white-space: normal;
  margin-top: 10px;
  font-size: 16px;
}

.box-date {
  font-size: 12px;
  margin-top: 8px;
}

.box-price {
  margin-top: 8px;
  font-weight: 600;
  font-size: 16px;
}

.swipe-top {
  width: 100%;
  height: 35px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.font-blue {
  color: #5979C4;
}

.font-red {
  color: #CF705A;
}

.covid-update img {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.covid-update {
  margin-bottom: 50px;
}

.help-button {
  margin: 30px 0;
  border: none;
  background-color: #DADEF4;
  padding: 15px 0;
  font-weight: 600;
  font-size: 18px;
  border-radius: 50px;
  width: 100%;
  text-align: center;
  color: #5979C4;
  margin-bottom: 100px;
}

/* Images */
.news-1 {
  background-image: url("../images/news/news-1.jpeg");
}

.news-2 {
  background-image: url("../images/news/news-2.jpeg");
}

.news-3 {
  background-image: url("../images/news/news-3.jpeg");
}

.marketplace-1 {
  background-image: url("../images/marketplace/marketplace-1.jpg");
}

.marketplace-2 {
  background-image: url("../images/marketplace/marketplace-2.jpg");
}

.marketplace-3 {
  background-image: url("../images/marketplace/marketplace-3.jpg");
}

.marketplace-4 {
  background-image: url("../images/marketplace/marketplace-4.jpg");
}

.events-1 {
  background-image: url("../images/events/events-1.jpg");
}

.events-2 {
  background-image: url("../images/events/events-2.jpg");
}

.events-3 {
  background-image: url("../images/events/events-3.jpg");
}

a {
  text-decoration: none;
}

/*-----Onboarding First Screen-----*/

.onboarding_skip {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #CF705A;
  margin-top: 27px;
  margin-right: 22px;
  float: right;
  position: relative;

}

.onboarding_rectangle {
  top: 200px;
  left: 15px;
  right: 0;
  margin: auto;
  position: relative;
  background: url('../images/onboarding1.svg') no-repeat;
  background-size: contain;
  width: 180px;
  height: 193px;

}

.onboarding_heading {
  margin: 0 auto;
  margin-top: 270px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #5979C4;
  text-align: center;

}

.onboarding_subheading {
  margin: 24px 11%;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #5979C4;
  text-align: center;

}

.onboarding_flexpoints {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 37px;
  width: 20%;
  justify-content: space-between;


}

.onboarding_orangepoint {
  background-color: #CF705A;
  width: 21px;
  height: 9px;
  border-radius: 10px;
}

.onboarding_bluepoint {
  background-color: #A2ABE3;
  width: 9px;
  height: 9px;
  border-radius: 10px;
}

.onboarding_gobutton {
  margin: 0 auto;
  margin-top: 37px;
  background: url('../images/go_button.svg') no-repeat;
  background-size: cover;
  width: 92px;
  height: 92px;
}



/*-----Onboarding Second Screen-----*/


.onboarding_back {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #5979C4;
  margin-top: 27px;
  margin-left: 22px;
  float: left;
  position: relative;

}

.onboarding_rectangle2 {
  top: -170px;
  left: 15px;
  right: 0;
  margin: auto;
  position: relative;
  background: url('../images/onboarding2.svg') no-repeat;
  background-size: contain;
  width: 239px;
  height: 600px;

}

.onboarding_heading2 {
  margin: 0 auto;
  margin-top: -137px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #5979C4;
  text-align: center;

}


.onboarding_gobutton2 {
  margin: 0 auto;
  margin-top: 37px;
  background: url('../images/go_button2.svg') no-repeat;
  background-size: cover;
  width: 92px;
  height: 92px;
}

/*-----Onboarding Third Screen-----*/


.onboarding_rectangle3 {
  top: 202px;
  left: 15px;
  right: 0;
  margin: auto;
  position: relative;
  background: url('../images/onboarding3.svg') no-repeat;
  background-size: contain;
  width: 198px;
  height: 216px;

}

.onboarding_heading3 {
  margin: 0 auto;
  margin-top: 247px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #5979C4;
  text-align: center;

}


.onboarding_gobutton3 {
  margin: 0 auto;
  margin-top: 37px;
  background: url('../images/go_button3.svg') no-repeat;
  background-size: cover;
  width: 92px;
  height: 92px;
}

/*-----Onboarding Log-In Screen-----*/


.onboarding_rectangle4 {
  top: 99px;
  left: 97px;
  position: relative;
  background: url('../images/greetings.svg') no-repeat;
  background-size: contain;
  width: 261px;
  height: 236px;

}

.onboarding_heading4 {
  margin: 0 auto;
  margin-top: 160px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #5979C4;
  text-align: center;

}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  margin-top: 20px;
}

input[type=text],
input[type=password] {
  background-color: #DDE1F9;
  border-radius: 20px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

}


.submit_button {
  background-color: #CF705A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

::placeholder {
  color: #464646;
  opacity: 64%;

}

.onboarding_undertext {
  text-align: center;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #5979C4;
  text-decoration: underline;
  margin-top: 8px;

}


/*-----Marketplace Screen-----*/

.filterDiv {
  display: none;
}

.show {
  display: block;
}

.container_marketplace {
  overflow: hidden;
  margin: 0 auto;
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92%;
}

.container_column {
  display: flex;
  flex-direction: column;
}

#buttons_marketplace {
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 13px;

}

/* Style the buttons */
.btn {
  border: 1px solid #5979C4;
  border-radius: 20px;
  margin-left: -10px;
  margin-right: 15px;
  width: 87px;
  height: 31px;
  background-color: white;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #5979C4;

}

.btn.active {
  background-color: #CF705A;
  color: white;
  border: 1px solid #CF705A;

}

/* scroll menu */

.scrollmenu {
  white-space: nowrap;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollmenu::-webkit-scrollbar {
  display: none;
}

/* marketplace items */



.marketplace_item_image {
  background: url('../images/marketplace/marketplace-1.jpg') no-repeat;
  background-size: cover;
  border-radius: 9px;
  width: 166px;
  height: 179px;
}

.marketplace_item_header {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #464646;
  margin-top: 6px;
  text-align: left;

}

.marketplace_item_category {
  font-size: 9px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #B1B1B1;
  margin-top: 1px;
  text-align: left;

}

.marketplace_item_price {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #5979C4;
  margin-top: 1px;
  text-align: left;
}

.marketplace_item_image2 {
  background: url('../images/marketplace/marketplace-2.jpg') no-repeat;
  background-size: cover;
  border-radius: 9px;
  width: 166px;
  height: 179px;
}

.marketplace_item_image3 {
  background: url('../images/marketplace/marketplace-3.jpg') no-repeat;
  background-size: cover;
  border-radius: 9px;
  width: 166px;
  height: 179px;
}

.marketplace_item_image4 {
  background: url('../images/marketplace/marketplace-4.jpg') no-repeat;
  background-size: cover;
  border-radius: 9px;
  width: 166px;
  height: 179px;
}

/* article detail page */ 
.art_detail {
  margin: 45px 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.back_arrow {
  width: 20px;
  height: 20px;
}

.art_heading {
  padding: 0 15px;
  font-size: 19px;
}

.art_image {
  background: url('../images/news/news-4.png') no-repeat;
  background-size: cover;
  border-radius: 9px;
  width: 340px;
  height: 199px;
  margin: 0 auto;
  margin-top: 10px;
}

.post_date {
  margin: 10px 20px;
  font-size: 12px;
  color: #A2ABE3;
}

.art_text {
  margin: 10px 20px;
  font-size: 17px;
  color: #464646;
}
